@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utility to hide scrollbars while preserving scrolling behavior */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}